<!DOCTYPE html>

<html>

<head>
  <title>Handlebars example</title>
</head>

<body>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Year</th>
      </tr>
    </thead>
    <tbody>
      {{#each movies}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.title}}</td>
        <td>{{this.year}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</body>

</html>
