<form action="/form" method="POST">
  <input type="hidden" name="_csrf" value="{{csrfToken}}"> Article:
  <input type="text" name="article"> Amount:
  <input type="text" name="amount">
  <button type="submit">Buy</button>
</form>
